<form class="form-horizontal" [formGroup]="eventFormGroup" (ngSubmit)="addEvent()">
    <div class="form-group">
        <label for="inputName" class="col-form-label">Nombre</label>
        <div>
            <input type="email" class="form-control form-control-sm" formControlName="name"
                placeholder="Ingrese el nombre del evento" [ngClass]="{'is-invalid': eventFormGroup.controls['name'].invalid 
                && (eventFormGroup.controls['name'].dirty 
                || eventFormGroup.controls['name'].touched)}">
            <span *ngIf="eventFormGroup.controls['name'].invalid 
            && (eventFormGroup.controls['name'].dirty 
            || eventFormGroup.controls['name'].touched)" class="error invalid-feedback">
                El nombre del evento debe tener al menos 4 caracteres y maximo 50</span>
        </div>

    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-form-label">Descripción</label>
        <div>
            <textarea type="email" class="form-control form-control-sm" formControlName="description"
                placeholder="Ingrese la descripción del evento" [ngClass]="{'is-invalid': eventFormGroup.controls['description'].invalid 
                && (eventFormGroup.controls['description'].dirty 
                || eventFormGroup.controls['description'].touched)}">
            </textarea>
            <span *ngIf="eventFormGroup.controls['description'].invalid 
                && (eventFormGroup.controls['description'].dirty 
                || eventFormGroup.controls['description'].touched)" class="error invalid-feedback">
                La descripción del evento debe tener al menos 10 caracteres y maximo 2000</span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="inputName2" class="col-form-label">Fecha inicio</label>
            <div>
                <input type="datetime-local" class="form-control form-control-sm" formControlName="date_start"
                    placeholder="Fecha de inicio para el evento" [ngClass]="{'is-invalid': eventFormGroup.controls['date_start'].invalid 
                && (eventFormGroup.controls['date_start'].dirty 
                || eventFormGroup.controls['date_start'].touched)}">
                <span *ngIf="eventFormGroup.controls['date_start'].invalid 
                && (eventFormGroup.controls['date_start'].dirty 
                || eventFormGroup.controls['date_start'].touched)" class="error invalid-feedback">
                    La fecha de inicio es requerida y no puede ser mayor que la fecha de finalización. No olvide verificar el horario.</span>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="inputName2" class="col-form-label">Fecha finalización</label>
            <div>
                <input type="datetime-local" class="form-control form-control-sm" formControlName="date_end"
                    placeholder="Fecha de inicio para el evento" [ngClass]="{'is-invalid': eventFormGroup.controls['date_end'].invalid 
                && (eventFormGroup.controls['date_end'].dirty 
                || eventFormGroup.controls['date_end'].touched)}">
                <span *ngIf="eventFormGroup.controls['date_end'].invalid 
                && (eventFormGroup.controls['date_end'].dirty 
                || eventFormGroup.controls['date_end'].touched)" class="error invalid-feedback">
                    La fecha de finalización es requerida y no puede ser menor que la fecha de inicio. No olvide verificar el horario.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="inputName2" class="col-form-label">Numero Asistentes</label>
            <div>
                <input type="number" class="form-control form-control-sm" formControlName="capacity"
                    placeholder="Total asistentes" [ngClass]="{'is-invalid': eventFormGroup.controls['capacity'].invalid 
                && (eventFormGroup.controls['capacity'].dirty 
                || eventFormGroup.controls['capacity'].touched)}">
                <span *ngIf="eventFormGroup.controls['capacity'].invalid 
                && (eventFormGroup.controls['capacity'].dirty 
                || eventFormGroup.controls['capacity'].touched)" class="error invalid-feedback">
                    El número de asistentes no puede ser menor a cero.</span>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-form-label">Portada del evento</label>
            <div>
                <input class="form-control form-control-sm" type="file"  
                    name="event_image" (change)="loadEventImage($event)"
                    formControlName="event_image" >
            </div>
        </div>
    </div>
    <button type="submit"
        class="btn btn-sm col-sm-12 btn-primary" 
        [disabled]="!eventFormGroup.valid">Registrar evento</button>
</form>
