<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2 text-center">
            <div class="col-sm-12">
                <h1 class="m-0 font-weight-bold">{{titleGroupName}}</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <app-addbar 
            addUrl="./add"
            [filterField]="'Nombre ' + groupName.toLowerCase()"
            [buttonLegend]="'Agregar ' + groupName.toLowerCase()"
            (filterEvent)="filterByField($event)">
        </app-addbar>
        <div class="row m-3">
            <app-loader class="col-sm-12" [isActive]="loader"></app-loader>
            <app-emptypage 
                *ngIf="groups.length == 0"
                class="col-sm-12"
                [iconClass]="'fas fa-layer-group'"
                [message]="'No existen grupos que mostrar'">
            </app-emptypage>
            <div class="group-card col-sm-4 mt-2 mb-2" 
                *ngFor="let group of groups" 
                [routerLink]="['/', mainGroupName, group.id]">
                <div class="position-relative p-3 bg-gray" style="height: 180px">
                    <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary" 
                            *ngIf="
                            (moment(group.date_created).diff(moment(), 'year') == 0)
                            && (moment(group.date_created).diff(moment(), 'month') == 0)">
                            Nuevo
                        </div>
                    </div>
                    <div class="position-relative">
                        <li class="fas fa-edit group-card-edit mr-2"
                            [routerLink]="groupId === 0 ? ['/', mainGroupName, 'edit', group.id] : ['/', mainGroupName, 'group', 'edit', group.id]"></li>
                        <strong>{{group.name}}</strong> <br>
                    </div>
                    <small>
                        {{group.description}}</small><br><br><br>
                    <div class="d-flex justify-content-between">
                        <small><strong>Encargado:</strong> 
                            {{group.leader_details.user_details.first_name}} 
                            {{group.leader_details.user_details.last_name}} 
                        </small>
                        <small><strong>Total miembros:</strong> {{group.members.length}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
