
<div class="content-header">
  <div class="container-fluid">
      <div class="row mb-2 text-center">
          <div class="col-sm-12">
              <h1 class="m-0 font-weight-bold">Recursos compartidos</h1>
          </div><!-- /.col -->
      </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>


<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <app-addbar addUrl="./add" [filterField]="'Nombre del recurso'" [buttonLegend]="'Agregar recurso'"
      (filterEvent)="filterByField($event)">
    </app-addbar>
    <div class="row m-3">
      <div class="col-sm-12">
      </div>
      <app-loader class="col-sm-12" [isActive]="loader"></app-loader>
      <app-emptypage *ngIf="!loader && resources.length == 0" class="col-sm-12" [iconClass]="'fas fa-layer-group'"
        [message]="'No existen recursos que mostrar'">
      </app-emptypage>
      <div class="card card-success col-sm-12" *ngIf="!loader">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6" *ngFor="let resource of resources">
              <div class="attachment-block clearfix">
                <a href="{{ resource.route }}" target="_blank"><img class="attachment-img"
                    src="{{ previewFileByExtension(resource.route) }}" alt="{{ resource.name }}"></a>
                <div class="attachment-pushed">
                  <h4 class="attachment-heading mb-2 border-bottom align-self-baseline text-dark">
                    {{ resource.name }}
                  </h4>
                  <div class="attachment-text align-items-baseline">
                    <span *ngIf="resource.groups_details != null"><strong>Grupo:</strong> {{
                      resource.groups_details[0]?.name }}</span><br>
                    <span *ngIf="resource.groups_details[0] != null"><strong>Líder de grupo:</strong> {{
                      resource.groups_details[0].user_first_name }} 
                      {{resource.groups_details[0].user_last_name }}
                      <a (click)="downloadFile(resource)"
                        class="btn btn-default btn-sm position-absolute display-absolute" style="right: 20px;">
                        <i class="fas fa-download"></i> Descargar</a>
                    </span>
                  </div>
                  <!-- <button (click)="downloadFile(resource)" class="btn btn-default btn-sm display-absolute">
                    <i class="fas fa-download"></i>Descargar</button> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
