<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Recursos Compartidos</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
      <app-addbar
          addUrl="./add"
          [filterField]="'Nombre del recurso'"
          [buttonLegend]="'Agregar recurso'"
          (filterEvent)="filterByField($event)">
      </app-addbar>
      <div class="row m-3">
          <app-loader class="col-sm-12" [isActive]="loader"></app-loader>
          <app-emptypage
              *ngIf="resources.length == 0"
              class="col-sm-12"
              [iconClass]="'fas fa-layer-group'"
              [message]="'No existen recursos que mostrar'">
          </app-emptypage>

          <div class="card card-success col-lg-12 col-xl-12">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6" *ngFor="let resource of resources">
                  <div class="attachment-block clearfix">
                    <img class="attachment-img" height="100" width="100" src="{{ previewFileByExtension(resource.route) }}" alt="{{ resource.name }}">
                    <div class="attachment-pushed">
                    <h4 class="attachment-heading"><a href="{{ resource.route }}" target="_blank">{{ resource.name }}</a></h4>
                      <hr>
                      <div class="attachment-text">
                        <span *ngIf="resource.groups_details.length > 0"><strong>Grupo:</strong> {{ resource.groups_details[0].name }}</span><br>
                        <span *ngIf="resource.groups_details.length > 0"><strong>Líder de grupo:</strong> {{ resource.groups_details[0].leader_details.user_details.first_name }} {{ resource.groups_details[0].leader_details.user_details.last_name }}</span>
                      </div>
                    </div>
                  </div>
                  <a [href]="resource.route" [download]="resource.name" class="btn btn-default btn-sm"><i class="fas fa-download"></i> Descargar</a>
                </div>
              </div>

            </div>
          </div>

      </div>
  </div>
</section>
