<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2 text-center">
            <div class="col-sm-12">
                <h1 class="m-0 font-weight-bold">Ministerios</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row mb-2 d-flex justify-content-end">
            <div class="input-group col-3">
                <input type="text" class="form-control border-secondary" placeholder="Nombre ministerio">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary rounded-right">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="col-2">
                <button routerLink="./add" type="button" class="btn btn-primary">Agregar Ministerio</button>
            </div>
        </div>
        <div class="row ml-2">
            <div class="ministry-card col-sm-4 mt-2 mb-2" *ngFor="let ministry of ministries">
                <div class="position-relative p-3 bg-gray" style="height: 180px">
                    <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                            Nuevo
                        </div>
                    </div>
                    <strong>{{ministry.name}}</strong> <br>
                    <small>{{ministry.description}}</small><br><br><br>
                    <div class="d-flex justify-content-between">
                        <small><strong>Encargado:</strong> 
                            {{ministry.leader_details.user_details.first_name}} 
                            {{ministry.leader_details.user_details.last_name}} 
                        </small>
                        <small><strong>Total miembros:</strong> {{ministry.members.length}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>