<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 mt-2 mb-2">
                <div class="position-relative p-3 bg-gray" style="height: 180px">
                    <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                            Ribbon
                        </div>
                    </div>
                    Ribbon Default <br>
                    <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                </div>
            </div>
            <div class="col-sm-4 mt-2 mb-2">
                <div class="position-relative p-3 bg-gray" style="height: 180px">
                    <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                            Ribbon
                        </div>
                    </div>
                    Ribbon Default <br>
                    <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                </div>
            </div>
            <div class="col-sm-4 mt-2 mb-2">
                <div class="position-relative p-3 bg-gray" style="height: 180px">
                    <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                            Ribbon
                        </div>
                    </div>
                    Ribbon Default <br>
                    <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                </div>
            </div>
            <div class="col-sm-4 mt-2 mb-2">
                <div class="position-relative p-3 bg-gray" style="height: 180px">
                    <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                            Ribbon
                        </div>
                    </div>
                    Ribbon Default <br>
                    <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                </div>
            </div>
            <div class="col-sm-4 mt-2 mb-2">
                <div class="position-relative p-3 bg-gray" style="height: 180px">
                    <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                            Ribbon
                        </div>
                    </div>
                    Ribbon Default <br>
                    <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                </div>
            </div>
            <div class="col-sm-4 mt-2 mb-2">
                <div class="position-relative p-3 bg-gray" style="height: 180px">
                    <div class="ribbon-wrapper">
                        <div class="ribbon bg-primary">
                            Ribbon
                        </div>
                    </div>
                    Ribbon Default <br>
                    <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                </div>
            </div>
        </div>
    </div>
</section>